<!DOCTYPE html>
<html lang="en">
<%- include('./templates/head.ejs')%>

    <body>
        <%- include('./templates/header.ejs')%>
            <section class="intro intro-profile">
                <div class="container intro-container">
                    <div class="intro-wrapp-contetnt intro-wrap-profile">
                        <img src="/images/avatars/avatar.png" alt="">
                        <div class="atributs">
                            <div class="atributs-name">Дмитрий Сайкин</div>
                            <div class="atributs-role">Администратор</div>
                        </div>
                    </div>
                </div>
            </section>
    </body>
</html>