<header class="header">
    <div class="container header-container">
        <div class="header-wrapp-content">
            <div class="header-logo">
                OneTooz
            </div>
            <nav class="header-nav">
                <a class="header-nav-link" href="/">Home</a>
                <a class="header-nav-link" href="/blog">Blog</a>
                <a class="header-nav-link" href="/profile">Profile</a>
            </nav>
            <div class="header-avatar">
                <img src="" alt="">
            </div>
        </div>
    </div>
</header>